* {
    box-sizing: border-box;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --text-color: #e6e6e6;
    --text-hover-color: #c2c2c2;
    --background-color: #05051F;
    --background-image: url('images/background-padrao-1.jpg');
    --display-theme-1: block;
    --display-theme-2: none;
    --img-btn-theme: url("images/sol.png");
    --position-btn-theme: initial;
    --background-items: #6b6b6b3f;
    --background-items-hover: #6b6b6b80;
}

.light-theme {
    --text-color: black;
    --text-hover-color: rgb(54, 54, 54);
    --background-color: #C7B1A3;
    --background-image: url('images/background-light-1.jpg');
    --display-theme-1: none;
    --display-theme-2: block;
    --img-btn-theme: url("images/lua.png");
    --position-btn-theme: 0;
    --background-items: #ffaa00;
    --background-items-hover: #fabb3d;
    transition: all 1s;
}

body {
    background-color: var(--background-color);
}

main {
    position: relative;
    width: 360px;
    min-height: 550px;
    margin: 50px auto 0;
}

img {
    display: block;
    width: 100px;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    margin: auto;
}

.tema-toggle {
    width: 64px;
    margin: 24px auto;
    position: relative;
}

.tema-toggle button {
    position: absolute;
    top: -100%;
    right: var(--position-btn-theme);
    width: 36px;
    height: 36px;
    background: #ffffff var(--img-btn-theme) no-repeat center;
    background-size: 20px;
    border: 0;
    border-radius: 50%;
    transform: translateY(50%);
    z-index: 1;
    cursor: pointer;
}

.tema-toggle span {
    position: relative;
    display: block;
    width: 64px;
    height: 24px;
    background-color: var(--background-items);
    border: 1px solid var(--text-color);
    border-radius: 9999px;
}

#links {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    gap: 16px;
    list-style: none;
}

#links li a {
    border: 1px solid var(--text-color);
    display: block;
    text-align: center;
    padding: 15px 0;
    background-color: var(--background-items);
    border-radius: 8px;
    transition: background 0.3s;
    text-decoration: none;
}

#links li a:hover {
    background-color: var(--background-items-hover);
    border: 1px solid var(--text-hover-color);
}

#links li a:active {
    background-color: var(--background-items);
    border: 1px solid var(--text-color);
}

.nome-perfil {
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 0;
}

.img-dark, .img-light {
    position: absolute;
    bottom: 0;
    right: 0;

}

.img-dark {
    background: url('images/background-padrao-1.jpg') no-repeat;
    background-size: cover;
    background-position: top;
    display: var(--display-theme-1);
    width: 200px;
    height: 300px;
    z-index: -1;
}

.img-light {
    background: url('images/background-light-1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 130%;
    z-index: -1;
    display: var(--display-theme-2);
}

.caixa-icons {
    display: flex;
    justify-content: center;
    margin: 16px auto 0;
    width: 80%;
}

.icon {
    font-size: 1.2rem;
    padding: 12px;
    border-radius: 50%;
    transition: background 0.3s;
    cursor: pointer;
}

.icon:hover {
    background-color: var(--background-items);
    font-size: 1.3rem;
    margin-bottom: -0.1rem;
}

.icon:active {
    background-color: var(--background-items);
}

footer {
    width: 80%;
    text-align: center;
    margin: 16px auto 0;
}

footer span {
    font-style: italic;
    text-decoration: underline;
}